/*--------footer--------*/
@font-face {
    font-family: Poppins;
    src: url(font/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-Regular.ttf);
}

*{
    font-family: Poppins;
}

nav.fill ul{
    position: absolute;
    left: 670px;
    top:30px
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call, .mail, .follow, .copyright{
    width: 220px;
}
.call, .mail, .follow, .copyright{
    padding-left: 70px;
}

.call img, .call p{
    display: inline-block;
    padding: 0;
}

.call img{
    color: #E83556;
}

.call p{
    margin: 0;
    width: 115px;
    color: #E83556;
    font-family: system-ui;
    font-size: 14px;
}

.mail img{
    padding: 0;
}

.follow h5, .follow img{
    display: inline-block;
    margin:0;
    padding: 0;
}

.mail address{
    display: inline-block;
}

.copyright{
    width: 345px;
}

.copyright p, .mail address, .follow h5{
    font-family: system-ui;
    font-size: 14px;
    color: #E83556;
}