div img{
    padding-left: 170px;
}

.flex-container{
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
} 

.flex-child.first img{
    width: 440px;
    height: 500px;
}

div .flex-child.second{
    margin-top: 130px;
    margin-left: 40px;
}

.flex-child.second p{
    font-family: system-ui;
    padding: 15px 15px;
}

#button1{
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: none;
    background-color: #E83556;
    color: white;
    margin: 10px;
    font-family: system-ui;
}

#button1:hover{
    background-color: #9B2339;
    color: white;
    cursor: pointer;
}

#button2{
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: none;
    background-color:#FAA0A0;
    color: white;
    margin: 10px;
    font-family: system-ui;
}
#button2:hover{
    background-color: #ff607d;
    color: white;
    cursor: pointer;
}
#button3{
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: none;
    background-color:#ffcccb;
    color: white;
    margin: 10px;
    font-family: system-ui;
}
#button3:hover{
    background-color:rgb(255, 153, 168);
    color: white;
    cursor: pointer;
}

a#b1, a#b2, a#b3{
    text-decoration:none;
    color: white;
}

.flex-holder{
    display: flex;
    background-color: #fcfcfc;
    margin-top: 60px;
}

.flex-kid{
    flex: 1;
}

.flexkid-1{
    margin-right: 20px;
}

.flexkid-1 h3{
    padding-top: 75px;
    padding-left: 50px;
    font-size:20px;
}
.flexkid-1 p{
    font-family: system-ui;
    padding: 0px 0px 0px 50px;
    line-height: 28px;
}
.flexkid-2 img{
    width: 731px;
    height: 500px;
}

.flexkid-1 p button{
    background-color: #E83556;
    border-color: transparent;
    border-radius:10px;
    padding: 7px 15px;
    color: white;
    margin-top:15px ;
}

.flexkid-1 p button a{
    text-decoration: none;
    color: white;
}

.flexkid-1 p button:hover{
    background-color:#9B2339;
    color: white;
    cursor: pointer;
}

#serviceh2{
    font-size: 40px;
    text-align: center;
    color: #E83556;
    font-family: sans-serif;
    font-weight: bolder;
    padding-top: 100px;
    margin-bottom:50px;
}

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
}

.services div div{
    display: inline-block;
}

.articles{
    background-color:#E83556;
    padding:65px 45px;
}

.articles:hover{
    background-color: #9B2339;
}

.articles h3{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.articles button{
    background-color: white;
    border-color: transparent;
    border-radius: 5px;
    padding: 2px 30px;
}

.articles button a{
    text-transform: lowercase;
    font-family: inherit;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.articles button:hover {
    background-color: #fff;
    text-decoration-color: #E83556;
    cursor: pointer;
}

.firstimage img, .secondimage img{
    padding: 15px;
}

.meetourteam{
    background-color: #fcfcfc;
    height: 625px;
}

.img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 10px 5px 10px #E83556;
}

.img img{
    width: 100%;
    height: auto;
    padding:0px;
}

.team{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.member{
    padding-right: 70px;
    padding-left: 70px;
}

.member h4, .member p{
    text-align: center;
}

#introduction{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-family: sans-serif;
    padding-top: 80px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.info{
    display: flex;
    justify-content: center;
}

.info div{
    display: inline-block;
    margin-right: 135px;
    text-align: center;
}

.faq{
    background-image: url(faq.jpg);
    height: 630px;
    background-size: cover;
}

#question{
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: system ui;
    text-transform: uppercase;
    padding-top: 130px;
}

#see_answers{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #E83556;
    
}

#see_answers a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 18px;
    text-transform: lowercase;
    font-weight: bolder;
}

#see_answers:hover{
    background-color:#9B2339 ;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.information{
    display: flex;
}

.subscribe, .map{
    flex: 1;
}

.subscribe form{
    width: 350px;
    background-color: #fcfcfc;
    padding-top: 20px;
    padding-left:90px;
    padding-bottom: 40px;
    padding-right: 90px;
    margin-left:70px;
    margin-top:100px;
}

.subscribe form h4{
    font-weight: lighter;
    font-family: system-ui;
    font-size: 20px;
}

.subscribe form label{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

#email{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    padding: 7px 40px;
    margin-bottom: 10px;
}

.subscribe form button{
    border: none;
    background-color: white;
    padding: 7px 10px;
}

.subscribe form button:hover{
    background-color: #E83556;
    color: white;
    cursor: pointer;
}

.subscribe form button a{
    text-decoration: none;
    font-family: system-ui;
    color: black;
    font-weight: 500;
}

.subscribe form span{
    font-family: system-ui;
    font-weight: lighter;
    font-size: 14px;

}

.map{
    margin-bottom: 50px;
    margin-top: 50px;
}





/**@keyframes a{
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #E83556;
      border-radius: 100%;
    }
    100% {
      background: #E83556;
      height: 5000%;
      width: 5000%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }
  }
  **/



/*Pjesa e Besartes*/
.more{
    background-color: #E83556;
    border-color: transparent;
    border-radius:10px;
    padding: 7px 15px;
    color: white;
    margin-top:15px ;
}