div img{
    padding-left: 170px;
}

.flex-container{
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
} 

.flex-child.first img{
    width: 440px;
    height: 500px;
}

div .flex-child.second{
    margin-top: 130px;
    margin-left: 40px;
}

.flex-child.second p{
    font-family: system-ui;
    padding: 15px 15px;
}

#button1{
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: none;
    background-color: #E83556;
    color: white;
    margin: 10px;
    font-family: system-ui;
}

#button1:hover{
    background-color: #9B2339;
    color: white;
}

#button2{
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: none;
    background-color:#FAA0A0;
    color: white;
    margin: 10px;
    font-family: system-ui;
}
#button2:hover{
    background-color: #ff607d;
    color: white;
}
#button3{
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: none;
    background-color:#ffcccb;
    color: white;
    margin: 10px;
    font-family: system-ui;
}
#button3:hover{
    background-color:rgb(255, 153, 168);
    color: white;
}

a#b1, a#b2, a#b3{
    text-decoration:none;
    color: white;
}

.flex-holder{
    display: flex;
    background-color: #fcfcfc;
    margin-top: 60px;
}

.flex-kid{
    flex: 1;
}

.flexkid-1{
    margin-right: 20px;
}

.flexkid-1 h3{
    padding-top: 75px;
    padding-left: 50px;
    font-size:20px;
}
.flexkid-1 p{
    font-family: system-ui;
    padding: 0px 0px 0px 50px;
    line-height: 28px;
}
.flexkid-2 img{
    width: 731px;
    height: 500px;
}

.flexkid-1 p button{
    background-color: #E83556;
    border-color: transparent;
    border-radius:10px;
    padding: 7px 15px;
    color: white;
    margin-top:15px ;
}

.flexkid-1 p button a{
    text-decoration: none;
    color: white;
}

.flexkid-1 p button:hover{
    background-color:#9B2339;
    color: white;
}
.more{
    background-color: #E83556;
    border-color: transparent;
    border-radius:10px;
    padding: 7px 15px;
    color: white;
    margin-top:15px ;

}